@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

button,
input,
textarea {
  @apply bg-transparent outline-none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply flex flex-col items-center justify-center;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  @apply w-full h-full p-5 flex flex-col gap-5;
}

.app_name {
  @apply text-2xl font-medium text-center;
}

.addTodoBox {
  width: 100%;
  display: grid;
  grid-template-columns: 70% auto;
  gap: 10px;
}

.addTodoButton {
  @apply w-full h-12 bg-transparent text-blue-400 border-2 border-solid border-blue-400 rounded duration-200;
}

.todo_input {
  @apply w-full h-12 bg-transparent p-2 border-2 border-solid border-gray-700 rounded focus:border-blue-400 duration-200;
}

.todo {
  @apply w-full h-12 rounded-md px-2.5 flex items-center justify-between bg-gray-400 bg-opacity-20;
}

.todo_name {
  @apply text-base font-medium text-white overflow-hidden;
}

.del_button {
  @apply w-12 h-8 bg-red-500 text-white rounded duration-200 hover:bg-red-600;
}
